/********************************************************************/
/*                                                                  */
/* Part of PCIT-CPP, under the Apache License v2.0                  */
/* You may not use this file except in compliance with the License. */
/* See `http://www.apache.org/licenses/LICENSE-2.0` for info        */
/*                                                                  */
/********************************************************************/

body{
	margin: 0;
	background-color: #151617;
	color-scheme: dark;
	font-family: "Segoe UI", Helvetica, Arial;
	color: #d8d4cf;
}



.header{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1e2122;
	position: fixed;
	top: 0;
	width: 100%;
}

.header-item{
	display: block;
	color: white;
	text-align: center;
	padding: 0.896em 1.024em;
	text-decoration: none;
	color: #d8d4cf!important;
}

@media (orientation: portrait){
	.header-item{
		padding: 0.896em 0.8em;
		font-size: 2.2em;
	}
}


.header-home{
	font-size: 30px;
	padding: 5px;
	padding-bottom: 6px;
	color: #06b6d4!important;
}

@media (orientation: portrait){
	.header-home{
		font-size: 4.5em;
		padding: 5px;
		padding-bottom: 6px;
		color: #06b6d4!important;
	}	
}


.header-item-left {
	float: left;
}

.header-item-right {
	float: right;
}


.header-item:hover:not(.active){
	background-color: #111111;
}


@media (orientation: landscape){
	.header-img {
		height: 2.56em;
		padding-top: 0.32em;
		padding-bottom: 0px;
		padding-left: 0.64em;
		padding-right: 1.28em;
	}
}

@media (orientation: portrait){
	.header-img {
		height: 6em;
		padding-top: 0.32em;
		padding-bottom: 0px;
		padding-left: 0.64em;
		padding-right: 1.28em;
	}
}





a:link{ color: #06b6d4; }
a:visited{ color: #ac6cff; }




h1{
	font-size: 3.2em;
}

h2{
	font-size: 2.29em;
	padding-top: 1em;
}


h3{
	font-size: 1.26em;
	padding-top: 1em;
}



@media (orientation: landscape){
	.context {
		padding: 0% 20%;
		margin-top: 5em;
		margin-bottom: 4em;
	}
}

@media (orientation: portrait){
	.context {
		padding: 0% 10%;
		margin-top: 5em;
		margin-bottom: 4em;
		font-size: 1.9em;
	}
}




.code{
	background-color: #282923;
	padding: 0px 0.5em;

	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.code-gray{ color: #74705d; }
.code-red{ color: #f92472; }
.code-yellow{ color: #e7c755; }
.code-green{ color: #a6e22b; }
.code-cyan{ color: #67d8ef; }
.code-purple{ color: #ac80ff; }