/************************************************************************************************/
/*                                                                                              */
/* Part of pcit-project.github.io, under the Apache License v2.0 with LLVM and PCIT exceptions. */
/* You may not use this file except in compliance with the License.                             */
/* See `https://github.com/PCIT-Project/PCIT-CPP/blob/main/LICENSE`for info.                    */
/*                                                                                              */
/************************************************************************************************/

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #151617;
	color-scheme: dark;
	font-family: "Segoe UI", Helvetica, Arial;
	color: #d8d4cf;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a:link{ color: #06b6d4; }
a:visited{ color: #06b6d4/*#ac6cff*/; }

h1{
}

h2{
	padding-top: 1em;
}


h3{
	padding-top: 1em;
}

code {
	background-color: #1e2122;
}


.navbar {
	width: 100%;
	height: 12vmin;
	position: fixed;
	background-color: #1e2122;
	overflow: hidden;
	user-select: none;
}

.navbar-title {
	float: left;
	display: block;
	text-align: center;
	padding: 1.5vmin 1vmin;
	font-size: 7vmin;
	text-decoration: none;
	color: #06b6d4!important;
}

.navbar-item {
	float: right;
	display: block;
	color: #f2f2f2!important;
	text-align: center;
	padding: 1.5vmin 1.5vmin;
	text-decoration: none;
}

.navbar-item:hover{
	background-color: #2e3132;
}


.hamburger-button {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 3.4vmin 3.4vmin;
	text-decoration: none;
	display: none;
}


.navbar-img {
	float: left;
}


.navbar-fader-hidden{
	display: none;
}

.navbar-fader-visible{
	animation-name: navbar-fader-fade;
	animation-duration: 0.75s;
}


@keyframes navbar-fader-fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}



.hamburger-dropdown{
	width: 100%;
	position: fixed;
	overflow: hidden;
	background-color: #2e3132;
	margin-top: 12vmin;
	display: block;

	transition: max-height 0.25s ease-in-out;
	max-height: 0px;
}

@media (prefers-reduced-motion: reduce){
	.hamburger-dropdown {
		transition: none;
	}
}


.hamburger-dropdown-item {
	display: block;
	color: #f2f2f2!important;
	text-align: center;
	padding: 0.75em 0.75em;
	size: 1em;
	text-decoration: none;
}


.larger-hamburger-button{
	display: none;
}


#home-splash{
	padding-top: 16vmin;
	background-color: #1e2122;
	text-align: center;
	width: 100%;
}

#home-splash-img{
	width: 50%;
}

#home-splash-title{
	font-size: 3em;
	margin-bottom: 0.5em;
}

#home-splash-title2{
	margin-top: 0;
	padding-top: 0;
	font-size: 1.7em;
	margin-bottom: 1.25em;
}




.context {
	padding: 12vmin 6vmin;
}


.footer{
	margin-top: auto;
	background-color: #1e2122;
	padding: 0 6vmin;
}


.code-header{
	height: 1.5em;
	padding-top: 1px;
	padding-left: 0.5em;
	color: #000000;
	border-radius: 0.3em 0.3em 0px 0px;
}

.code-copy{
	float: right;
	margin: 3px;
	border: 0px;
	color: #d8d4cf;
	border-radius: 2px;
}

.code{
	background-color: #282923;
	padding: 0;
	margin: 0;
	font-size: 3em;
	/*overflow: auto;*/
	tab-size: 4;
	margin-bottom: 1vw;
	padding-bottom: 5px;

}

.code-with-lines{	
	display: grid;
	width: 100%;
	grid-template-columns: 4em 1fr;
}

.code-without-lines{
	padding: 0 10px 5px 10px;
	width: calc(100% - 20px);
}


.code-lines{
	color: #90918b;
	text-align: center;
	margin-right: 10px;
	user-select: none;
	/*margin-left: 1em;*/
	/*margin-right: 1.5em;*/
}


.code-src{
	overflow: auto;
}

.code-src::selection{
   background-color: #383830;
}



.code-gray{ color: #74705d; }
.code-red{ color: #f92472; }
.code-yellow{ color: #e7c755; }
.code-green{ color: #a6e22b; }
.code-cyan{ color: #67d8ef; }
.code-purple{ color: #ac80ff; }

.code-gray::selection{ background-color: #383830; }
.code-red::selection{ background-color: #383830; }
.code-yellow::selection{ background-color: #383830; }
.code-green::selection{ background-color: #383830; }
.code-cyan::selection{ background-color: #383830; }
.code-purple::selection{ background-color: #383830; }


.info{
	padding: 1em;
	padding-top: 0em;
	border-radius: 0.3em;
	background-color: #151829;
	border-color: #152ec7;
	border-style: solid;
}

.warning{
	padding: 1em;
	padding-top: 0em;
	border-radius: 0.3em;
	background-color: #2b2a14;
	border-color: #cebd00;
	border-style: solid;
}



/*mobile portrait*/
@media only screen and (max-width: 767px) and (orientation: portrait){
	.navbar-img{
		width: 10vmin;
		padding: 1vmin;
	}

	.navbar-item{
		display: none;
	}

	.hamburger-button{
		display: block;
	}

	.code-header{
		padding-top: 4px;
	}

	.code-copy{
		margin-top: 0;
		font-size: 1em;
	}

	.code{
		font-size: 1em;
		margin-bottom: 5vw;
	}

	.code-with-lines{
		grid-template-columns: 3em 1fr;
	}

	.code-lines{
		margin-right: 1em;
		margin-right: 0;
	}
}

/*mobile landscape*/
@media only screen and (max-width: 767px) and (orientation: landscape){
	h1{
		font-size: 4em;
	}

	.navbar-img{
		width: 10vmin;
		padding: 1vmin;
	}

	.navbar-item{
		display: none;
	}

	.hamburger-button{
		display: block;
	}


	#home-splash{
		padding-top: 16vmin;
		background-color: #1e2122;
		text-align: center;
		width: 100%;
	}

	#home-splash-img{
		width: 20%;
	}

	#home-splash-title{
		font-size: 3em;
		margin-bottom: 0.5em;
	}

	#home-splash-title2{
		margin-top: 0;
		padding-top: 0;
		font-size: 1.8em;
		margin-bottom: 1.25em;
	}


	body{
		font-size: 0.6em;
	}

	.code{
		font-size: 1vw;
	}

	.code-header{
		font-size: 2vw;
		padding-top: 5px;
	}

	.code-copy{
		margin-top: 0;
		font-size: 1em;
	}

	.code-lines{
		font-size: 1.8vw;
		margin-right: 0;
	}


	.normal-hamburger-button{
		display: none;
	}

	.larger-hamburger-button{
		display: block;
	}
}

/*desktop*/
@media only screen and (min-width: 768px){
	.navbar{
		height: 5vmin;
	}

	#home-splash{
		padding-top: 8vmin;
	}

	#home-splash-img{
		width: 20%;
	}

	#home-splash-title{
		font-size: 5em;
		margin-bottom: 0.5em;
	}

	#home-splash-title2{
		margin-top: 0;
		padding-top: 0;
		font-size: 3em;
		margin-bottom: 1.25em;
	}

	.context {
		padding: 5vmin 25%;
	}

	.footer {
		padding: 0 25%;
	}

	.navbar-img{
		width: 4vmin;
		padding: 0.5vmin;
	}

	.navbar-title{
		padding: 0.15vmin 0.5vmin;
		font-size: 3vmin;
	}

	.code{
		font-size: 1em;
	}
}