/************************************************************************************************/
/*                                                                                              */
/* Part of pcit-project.github.io, under the Apache License v2.0 with LLVM and PCIT exceptions. */
/* You may not use this file except in compliance with the License.                             */
/* See `https://github.com/PCIT-Project/PCIT-CPP/blob/main/LICENSE`for info.                    */
/*                                                                                              */
/************************************************************************************************/

html{
	scroll-behavior: smooth;
	scroll-padding-top: 13vmin;
}

body{
	margin: 0;
	background-color: #151617;
	color-scheme: dark;
	font-family: "Segoe UI", Helvetica, Arial;
	color: #d8d4cf;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a:link{ color: #06b6d4; }
a:visited{ color: #06b6d4/*#ac6cff*/; }

h1{
}

h2{
	margin-top: 2em;
	border-radius: 0.3em;
}

h3{
	margin-top: 2em;
	border-radius: 0.3em;
}


h4{
	margin-top: 2em;
	border-radius: 0.3em;
}


.anchor_highlighter{
	animation-name: anchor-highlight;
	animation-duration: 3.0s;
}

@keyframes anchor-highlight{
	from{
		background-color: #06b6d4;
	}

	to{
		background-color: #151617;
	}
}




code{
	background-color: #1e2122;
	font-size: 1.2em;
}


table{
	border-collapse: collapse;
	overflow-x: auto;
	table-layout: fixed;
}

td, th {
	border: 1px solid #878481;
	text-align: left;
	padding: 0.5em;
}


tr:nth-child(even) {
	background-color: #1a1c1d;
}


/**************************************************/
/* navbar */

.navbar{
	width: 100%;
	height: 12vmin;
	position: fixed;
	background-color: #1e2122;
	overflow: hidden;
	user-select: none;
}

.navbar-title{
	float: left;
	display: block;
	text-align: center;
	padding: 1.5vmin 1vmin;
	font-size: 7vmin;
	text-decoration: none;
	color: #06b6d4!important;
}

.navbar-item{
	float: right;
	display: block;
	color: #f2f2f2!important;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
}

.navbar-item:hover{
	background-color: #2e3132;
}


.hamburger-button{
	float: right;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 5.5vmin;
	height: 5.5vmin;
	padding: 1.5vmin 1.5vmin;
}


.navbar-img-box{
	float: left;
}

.navbar-img{
	width: 100%;
	height: 100%;
}


.navbar-fader-hidden{
	display: none;
}

.navbar-fader-visible{
	animation-name: navbar-fader-fade;
	animation-duration: 0.75s;
}


@keyframes navbar-fader-fade{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}



.hamburger-dropdown{
	width: 100%;
	position: fixed;
	overflow: hidden;
	background-color: #2e3132;
	margin-top: 12vmin;
	display: block;

	transition: max-height 0.25s ease-in-out;
	max-height: 0px;
}

@media (prefers-reduced-motion: reduce){
	.hamburger-dropdown{
		transition: none;
	}
}


.hamburger-dropdown-item{
	display: block;
	color: #f2f2f2!important;
	text-align: center;
	padding: 0.75em 0.75em;
	size: 1em;
	text-decoration: none;
}



/**************************************************/
/* home */

#home-splash{
	padding-top: 16vmin;
	background-color: #1e2122;
	text-align: center;
	width: 100%;
}

#home-splash-img{
	height: 20em;
}


#home-splash-title{
	font-size: 3em;
	margin-bottom: 0.5em;
}

#home-splash-title2{
	margin-top: 0;
	padding-top: 0;
	font-size: 1.7em;
	margin-bottom: 1.25em;
}



.footer{
	margin-top: auto;
	background-color: #1e2122;
	padding: 0 6vmin;
}



/**************************************************/
/* search */

.search-bar{
	width: calc(100% - 1em);
	background-color: #1e2122;
	font-size: 1.5em;
	padding: 0.5em;

	border-radius: 0.3em;
	border-width: 2px;
	border-color: #1e2122;
}

.search-bar:focus{
	outline: none !important;
	border-color: #06b6d4;
}


.search-result-box{
	background-color: #1e2122;
	border-radius: 0.3em;
	border-width: 0px;
	padding: 0.5em;
	margin: 1em 0em;
}


.search-match-percentage{
	float: right;
	color: #878481;
	display: inline;
	font-size: 0.9em;
	margin-top: 0.2em;
}

.search-match-title{
	font-size: 1.2em;
}

.search-category{
	display: inline;
	border-radius: 0.3em;
	border-width: 1px;
	border-style: solid;
	margin-right: 0.4em;
	padding: 0.1em;
	font-size: 0.7em;
}


/**************************************************/
/* code */

.code-header{
	height: 1.5em;
	padding-top: 1px;
	padding-left: 0.5em;
	color: #000000;
	border-radius: 0.3em 0.3em 0px 0px;
}

.code-copy{
	float: right;
	margin: 3px;
	border: 0px;
	color: #d8d4cf;
	border-radius: 2px;
}

.code{
	background-color: #282923;
	padding: 0;
	margin: 0;
	font-size: 1em;
	/*overflow: auto;*/
	tab-size: 4;
	margin-bottom: 1vw;
	padding-bottom: 5px;

}

.code-with-lines{	
	display: grid;
	width: 100%;
	grid-template-columns: 4em 1fr;
}

.code-without-lines{
	padding: 0 10px 5px 10px;
	width: calc(100% - 20px);
}


.code-lines{
	color: #90918b;
	text-align: center;
	margin-right: 10px;
	user-select: none;
	/*margin-left: 1em;*/
	/*margin-right: 1.5em;*/
}


.code-src{
	overflow: auto;
}

.code-src::selection{
   background-color: #383830;
}



.code-gray{ color: #74705d; }
.code-red{ color: #f92472; }
.code-orange{ color: #fd9622; }
.code-yellow{ color: #e7c755; }
.code-green{ color: #a6e22b; }
.code-cyan{ color: #67d8ef; }
.code-purple{ color: #ac80ff; }

.code-gray::selection{ background-color: #383830; }
.code-red::selection{ background-color: #383830; }
.code-orange::selection{ background-color: #383830; }
.code-yellow::selection{ background-color: #383830; }
.code-green::selection{ background-color: #383830; }
.code-cyan::selection{ background-color: #383830; }
.code-purple::selection{ background-color: #383830; }


.info{
	padding: 1em;
	padding-top: 0em;
	margin: 3em 15%;
	border-radius: 0.3em;
	background-color: #151829;
	border-color: #152ec7;
	border-style: solid;
}

.warning{
	padding: 1em;
	padding-top: 0em;
	margin: 3em 15%;
	border-radius: 0.3em;
	background-color: #2b2a14;
	border-color: #cebd00;
	border-style: solid;
}



/**************************************************/
/* mobile  */



@media (hover: none){
	.context{
		padding: 12vmin 6vmin;
	}

	#home-splash-img{
		height: 15em;
	}
}


/*mobile portrait*/
@media (hover: none) and (orientation: portrait){
	.navbar-img-box{
		width: 10vmin;
		padding: 1vmin;
	}

	.navbar-item{
		display: none;
	}

	.code-header{
		padding-top: 4px;
	}

	.code-copy{
		margin-top: 0;
		font-size: 1em;
	}

	.code{
		margin-bottom: 5vw;
	}

	.code-with-lines{
		grid-template-columns: 3em 1fr;
	}

	.code-lines{
		margin-right: 1em;
		margin-right: 0;
	}
}

/*mobile landscape*/
@media (hover: none) and (orientation: landscape){
	h1{
		font-size: 4em;
	}

	.navbar-img-box{
		width: 10vmin;
		padding: 1vmin;
	}

	.navbar-item{
		display: none;
	}

	#home-splash{
		padding-top: 16vmin;
		background-color: #1e2122;
		text-align: center;
		width: 100%;
	}

	#home-splash-box{
		width: 20%;
	}

	#home-splash-title{
		font-size: 3em;
		margin-bottom: 0.5em;
	}

	#home-splash-title2{
		margin-top: 0;
		padding-top: 0;
		font-size: 1.8em;
		margin-bottom: 1.25em;
	}


	body{
		font-size: 0.6em;
	}

	td, th, table {
		font-size: 1.2em;
	}




	.search-match-percentage{
		font-size: 1.5em;
		margin-top: 0;
	}

	.code{
		font-size: 1em;
	}

	.code-header{
		font-size: 1em;
		/*padding-top: 5px;*/
	}

	.code-copy{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1em;
	}

	.code-lines{
		font-size: 1.7em;
		margin-right: 0;
	}

	/*.hamburger-button{
		width: 7vmin;
		height: 7vmin;
	}*/
}


/**************************************************/
/* desktop  */

@media (hover: hover) {
	.navbar{
		height: 3.5em;
	}

	#home-splash{
		padding-top: 8vmin;
	}

	#home-splash-box{
		width: 20%;
	}

	#home-splash-title{
		font-size: 5em;
		margin-bottom: 0.5em;
	}

	#home-splash-title2{
		margin-top: 0;
		padding-top: 0;
		font-size: 3em;
		margin-bottom: 1.25em;
	}

	.footer{
		padding: 0 25%;
	}

	.navbar-img-box{
		width: 3em;
		padding: 0.5vmin;
	}

	.navbar-title{
		padding: 0.15vmin 0.5vmin;
		font-size: 2.25em;
	}

	.navbar-item{
		font-size: 1em;
	}

	.code{
		font-size: 1em;
	}
}

@media screen and (min-width: 1366px) and (hover: hover) {
	.context{
		padding: 4em 25%;
	}

	.hamburger-button{
		display: none;
	}
}

@media screen and (max-width: 1365px) and (hover: hover) {
	.context{
		padding: 4em 20%;
	}

	.hamburger-button{
		display: none;
	}
}

@media screen and (max-width: 1023px) and (hover: hover) {
	.context{
		padding: 4em 15%;
	}

	.navbar-item{
		display: none;
	}

	.hamburger-button{
		width: 7vmin;
		height: 7vmin;
		display: block;
	}
}


